    <footer>
        <div class="container">
            <div>
                <p class="color-whitesmoke">Copyright © since 2025</p>
            </div>
                <ul role="list" data-type="media-icons">
                    <li><a href="#"><img src="images/facebook.svg"></a></li>
                    <li><a href="#"><img src="images/instagram.svg"></a></li>
                    <li><a href="#"><img src="images/tiktok.svg"></a></li>
                    <li><a href="#"><img src="images/twitch.svg"></a></li>
                    <li><a href="#"><img src="images/twitter.svg"></a></li>
                </ul>
        </div>
    </footer>
</body>
</html>