
<body>
    <header class="header">
            <div class="container color-whitesmoke">
                <a href="/"><h4>Movie<span>BOX</span></h4></a>
                <ul role="list" class="header-list">
                    <li class="header-li flex-center"><a href="/login" class="flex-center">Log In</a></li>
                    <li class="header-li flex-center"><a href="/register" class="flex-center">Sign In</a></li>
                </ul>
            </div>
    </header>
